{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edit a fortune</h1>
    <form action=" {{ path('edit', { id: id }) }}" method = "post" novalidate>
        {{ form_row(form.title) }}
        <p hidden>{{ form_row(form.author) }}</p>
        {{ form_row(form.content) }}
        {{ form_row(form.submit) }}
        {{ form_rest(form) }}
    </form>
{% endblock %}